body{
    background-color: #F7ECDE;
}
.bookcontent{
    border-width: 2px 0 2px 0;
    border-style: dotted;
    border-color: #352e28;
}
h1{
    font-family: 'Pacifico', cursive;
    color: #352e28;
    font-size: 50px;
    display: block;
    line-height: 1.2;
    position: relative;
   isolation: isolate;
   
  
}
h1::before{
    content: "";
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    height: 25%;
    background-color: #fec260;
    z-index: -1;
    transition: height 1s;
   
}
h1:hover::before{
    height: 50%;
}

.head-site{
    font-family: "Righteous", cursive;
    font-size: 25px;
    background-image: linear-gradient(to right, #1f6133, #e6db61);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.submit{
    background-color: #d1512d;
    color: #ffffff;
    font-size: 20px;
}
.submit:hover{
    background-color: #bb4120;
    color: #ffffff    ;
}
.btn-visit{
    background-color: #9eb23b;
    color: #ffffff;
}
.btn-visit:hover{
    background-color: #8a9e23;
    color: #ffffff;
}
.btn-delete{
    background-color:#eb1d36 ;
    color: #ffffff;
}
.btn-delete:hover{
    background-color: #d30820;
    color: #ffffff;
}

.form-control:focus{
    color: #212529;
    border-color: #d99c39;
    box-shadow: 0 0 0 0.25rem #fec26055;
}
.modal-title{
    color: #d99c39;
}